table {
    border-collapse: collapse;
    width: 60vw;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #aea2a2;
}

.total {
    font-weight: bold;
}
